.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}

h1 {
  color: #d9dde3;
  margin-bottom: 10px;
}

h2 {
  color: #666;
  margin-bottom: 20px;
}

.start-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #00ff00;
  color: #000; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #00ff00; 
  transition: all 0.3s ease;
}

.start-button:hover {
  background-color: #00ff00;
  color: #fff; 
  box-shadow: 0 0 20px #00ff00, 0 0 40px #00ff00, 0 10px 10px rgba(0, 255, 0, 0.5); // Added stronger shadow underneath
}